<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= client.birthdate %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= client.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= client.active %>
  </p>

  <p>
    <strong>User:</strong>
    <%= client.user_id %>
  </p>

</div>
