<p class="text-green-600"><%= notice %></p>

<% content_for :title, "Clients" %>

<div class="content">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-2xl font-bold text-gray-800">Clientes</h2>
    <%= link_to "Novo Cliente", new_client_path, class: "px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg shadow hover:bg-blue-700 transition" %>
  </div>

  <%= form_with url: clients_path, method: :get, data: { turbo_frame: "clients-list" }, class: "mb-6 flex gap-2" do |form| %>
    <%= form.text_field :query, value: params[:query], placeholder: "Pesquisar cliente...",
        class: "border border-gray-300 rounded-lg p-2 flex-1 focus:ring focus:ring-blue-300" %>
    <%= form.submit "Buscar", class: "bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition" %>
  <% end %>
  <turbo-frame id="clients-list">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <% @clients.each do |client| %>
        <div class="bg-white shadow rounded-xl p-5 border border-gray-200 hover:shadow-lg transition">
          <div class="flex items-center gap-3">
            <div>
              <% if client.client_image.attached? %>
                <div class="mt-4">
                  <%= image_tag client.client_image, class: "rounded-full shadow w-38 h-38 object-cover" %>
                </div>
              <% end %>
            </div>
            <div>
              <h3 class="text-lg font-semibold text-gray-800"><%= client.name %></h3>
              <%= link_to "Ver", client,data: { turbo: false }, class: "text-blue-600 hover:text-blue-800 font-medium" %>
              <div class="flex gap-3">
                <%= link_to edit_client_path(client), class: "text-yellow-500 hover:text-yellow-700" do %>
                  <i class="fas fa-pen"></i>
                <% end %>
                <%= button_to client, method: :delete, data: { confirm: "Tem certeza que deseja deletar?" }, class: "text-red-600 hover:text-red-800" do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </turbo-frame>
</div>
