<div id="<%= dom_id client_address %>">
  <p>
    <strong>Address:</strong>
    <%= client_address.address %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= client_address.number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client_address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= client_address.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= client_address.zip %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= client_address.reference %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= client_address.client_id %>
  </p>

</div>
