<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "P Clientes" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Manifest opcional PWA %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-100 text-gray-900 min-h-screen flex flex-col">
    <!-- Header -->
      <% if devise_controller? %>
          <%= yield %>
      <% else %>
        <!-- Layout normal com header e sidebar -->
        <%= render "shared/back/header" %>

        <div class="flex flex-1 min-h-screen">
          <aside class="w-64 bg-gray-800 text-white hidden md:block">
            <%= render "shared/back/side_bar" %>
          </aside>

          <main class="flex-1 p-6 overflow-x-hidden">
            <%= yield %>
          </main>
        </div>
      <% end %>
    </div>
  </body>
</html>
